html {
	font-family: 'Cantora One', sans-serif;
}
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
a, a:link, a:visited {
	text-decoration: none;
	color: #44c8ff;
}
a:hover {
	
}
iframe {
	width: 99%;
	height: 2300px;
	overflow-x: hidden;
}
ul {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
li {
	list-style: circle;
	text-align: left;
}
p {
	text-align: left;
}
form {
	text-align: left;
	max-width: 300px;
	width: 100%;
	display: block;
	margin: 30px auto;
	background: url('/images/angle-line.png') #44C8FF repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
}
textarea, input {
	float: right;
	width: 170px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #454546;
	line-height: 20px;
	padding: 5px;
}
input[type="submit"] {
	background: #454546;
	font-size: 20px;
	color: #BEBEBE;
	padding: 7px;
	cursor: pointer;
	border: none;
}
input[type="submit"]:hover {
	background: #707070;
	color: #FFFFFF;
}
label {
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	margin: 5px 0;
	display: block;
}
h1, h2, h3, h4 {
	-webkit-margin-before: 0.25em;
	-webkit-margin-after: 0.25em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-align: center;
	font-weight: normal;
}
h1 {
	/*font-weight: bold;*/
	font-size: 40px;
	color: #4A407E;
}
h2 {
	font-size: 25px;
	color: #645E8B;
}
h3 {
	font-size: 15px;
	color: #8D8D8D;
}
h4 {
	font-size: 30px;
	color: #726F9B;
	/*border-top:1px solid #1E2649;
	border-bottom: 1px solid #1E2649;*/
	box-shadow: 0px 6px 12px #ddd;
	background: #fff;
	padding-top: 20px;
	margin: 0px;
}
h6 {
	font-size: 30px;
	background: #000;
	color: #BEBEBE;
	width: 100%;
	display: block;
	text-align: center;
	padding: 20px 0;
	margin: 0px;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.cleartop {
	padding-top: 250px;
}
.cleartop > div {
	height: auto;
	display: block;
	padding: 50px 0 30px 0px;
}
.clear {
	clear: both;
}
.right {
	float: right;
}
.alignright {
	position: relative;
	right: 0px;
}
.anchor {
	display: block;
	position: relative;
	background: #1E2649;
	height: 30px;
	/*margin: 30px 0px 50px 0px;*/
}
.anchor:after{
	content: '';
	/* background: url('../images/sprite.png') top left no-repeat; */
	background: url('../images/sprite.png') #1E2649 -235px 10px no-repeat;
	width: 100px;
	height: 50px;
	margin-left: -50px;
	left: 50%;
	display: inline-block;
	position: relative;
	bottom: 0px;
	z-index: 5;
	-moz-border-radius-bottomright: 100%;
	-moz-border-radius-bottomleft: 100%;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	-webkit-border-bottom-right-radius: 100%;
	-webkit-border-bottom-left-radius: 100%;
}
.anchor:hover {
	background: #2C3353;
}
.anchor:hover:after {
	background: url('../images/sprite.png') #2C3353 -143px 10px no-repeat;
}
#nav {
	position: relative;
	top: 0px;
	display: block;
	height: 60px;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	text-align: right;
	width: 100%;
	line-height: 60px;
	background: #454546;
	z-index: 1000;
	overflow: hidden;
	border-bottom: 3px solid #44C8FF;
	box-shadow: 0px 3px 4px #DDD;
}
#nav .hamburger,
#nav .mobile_super {
	display: none;
}
#nav ul {
	padding: 0px;
	margin: 0px auto;
	max-width: 1200px;
	background: url('../images/shark.png') #454546 no-repeat;
}
#nav li {
	display: inline-block;
	list-style: none;
}
#nav li:hover {
	background: #707070;
}
#nav li a {
	height: 100%;
	padding: 0 10px;
	display: block;
}
#nav a, #nav a:link, #nav a:visited {
	color: #BEBEBE;
}
#nav a:hover {
	color: #FFFFFF;
}

#nav .social,
#footer .social,
#nav .social:hover,
#footer .social:hover,
.sprite, #nav .sprite:hover {
	background: url('/images/sprite.png') no-repeat;
}
#nav .social,
#footer .social,
#nav .social:hover,
#footer .social:hover {
	text-indent: -1999px;
	display: block;
	/*height: 22px; 30px - 8px padding = 22px */
	/*width: 0px; 30px - 30px padding = 0px */
	height: 100%;
	width: 30px;
}
#nav .linkedin,
#nav .linkedin:hover {
	background-position:-36px 15px;
}
#footer .linkedin,
#footer .linkedin:hover {
	background-position: -73px -71px;
}
#nav .twitter,
#nav .twitter:hover {
	background-position:0px 15px;
	/*width: 3px; 33px - 3opx padding = 3px */
	width: 33px;
}
#footer .twitter,
#footer .twitter:hover {
	background-position: -38px -71px;
}
#nav .contact,
#nav .contact:hover {
	background-position:-66px 15px;
}
#nav .bitbucket,
#nav .bitbucket:hover {
	background-position: -100px 15px;
}
#footer .bitbucket,
#footer .bitbucket:hover {
	background-position: -104px -71px;
}
#footer .wordpress,
#footer .wordpress:hover {
	background-position: -134px -71px;
	width: 32px;
}
#footer .php,
#footer .php:hover {
	background-position: -166px -71px;
	width: 56px;
}
#footer .youtube,
#footer .youtube:hover {
	background-position: -223px -71px;
	width: 67px;
}
#footer .facebook,
#footer .facebook:hover {
	background-position: -291px -71px;
	width: 28px;
}
#footer .nodejs,
#footer .nodejs:hover {
	background-position: -320px -71px;
	width: 85px;
}
#footer .chrome,
#footer .chrome:hover {
	background-position: -406px -71px;
	width: 32px;
}
.footer_title {
	color: #454546;
	text-transform: uppercase;
	text-align: left;
	display: block;
	margin-bottom: 10px;
}
#about {
	background: url('../images/mike_reg.png') no-repeat bottom left;
	text-align: right;
}
.content span {
	font-weight: bold;
	color: #44C8FF;
}
.half {
	width: 50%;
}
.content {
	width: 75%;
	display: inline-block;
}
.content span {
	text-align: left;
}
#featured {
	position: relative;
	display: block;
	width: 100%;
	z-index: 999;
	background: #fff;
	padding: 5px 0 10px 0;
	box-shadow: 0px 3px 4px #DDD;
	/*overflow: hidden;*/
	/*border-bottom: 1px solid #454546;*/
}
#featured #logo {
	font-size: 3em;
	color: #FF00DF;
}
#featured li {
	width: auto;
	margin: 3px;
	list-style: none;
	text-align: center;
	font-size: 0.8em;
	color: #5E5E5E;
	display: inline-block;
}
#featured li img {
	width: 100%;
	height: auto;
	display: block;
	max-width: 150px;
	margin: 0 auto;
}
#featured .wrapper div {
	width: 100%;
	display: block;
}
#sidebar {
	width: 20%;
	margin-top: 20px;
	overflow: hidden;
}
#sidebar li {
	list-style: none;
	display: inline-block;
	margin: 2px;
	word-wrap: break-word;
}
.tagger {
	width: auto;
}
#portfolio {
	width: 80%;
	margin-top: 10px;
}
#portfolio ul {
	/*margin: 35px 0;*/
}
#portfolio #filters {
	padding: 0px;
	text-align: center;
	margin: 2% 0;
}
#portfolio li {
	list-style: none;
	margin: 1.5%;
	max-width: 17%;
	display: block;
	cursor: pointer;
	float: left;
}
#portfolio .smaller {
	width: 10%;
	max-width: 10%;
}
#portfolio .larger {
	width: 70%;
	max-width: 70%;
}
#portfolio li a {
	display: block;
	/*height: 100%;*/
	width: 100%;
}
#portfolio li img {
	max-width: 100%;
	height: auto;
	box-shadow: 0px 3px 13px #999;
}
#portfolio .larger img {
	width: 60%;
}
#portfolio .cta{
	display: none;
	padding: 2.5%;
}
#portfolio .larger .cta{
	width: 35%;
	display: block;
	text-align: left;
}
#portfolio .larger .cta h2{
	text-align: left;
}
.firstlist img {
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.filter a{
	background: #000;
	display: inline-block;
	text-align: center;
	color: #FFFFFF;
	padding: 2px 4px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.clearfilters a, .clearlarger a{
	color: #44C8FF;
}
.filter:hover a{
	background: #454546;
	color: #BEBEBE;
}
.transparentimage {
	background: #00c0ff;
}
.transparentimageblack {
	background: #000;
}
#footer {
	border-top: 3px solid #44C8FF;
	height: auto;
	width: 100%;
	background: #000;
}
#footer .wrapper {
	margin: 20px auto;
	width: 92%;
}
#footer > div {
	text-align: center;
}
#footer .sociallinks {
	width: 15%;
	margin: 0 5%;
}
#footer .opensource {
	max-width: 193px;
	width: 25%;
	margin: 0 0 20px 0;
	padding-left: 5%;
	border-left: 1px dashed #454546;
}
#footer .icons li {
	display: inline-block;
	float: left;
	padding: 0 10px 10px 0;
}
#footer a {
	color: #454546;
}
#footer a:hover {
	color: #BEBEBE;
}
#footer .icons .social {
	height: 30px;
}
#footer .icons .social:hover {
	background-position-y: -103px;
}
#footer .nav {
	width: 35%;
	margin: 0;
	text-align: left;
}
#footer .nav li {
	width: auto;
	display: inline-block;
	margin-right: 3%;
	text-align: left;
}
.copy {
	color: #fff;
	font-size: 0.8em;
	color: #454546;
	width: 100%;
	display: block;
	text-align: left;
	border-top: 1px dashed #454546;
	display: block;
	padding: 10px 0px;
}
#message {
	clear: both;
}
#contact {

}
@media screen and (max-width : 768px) {
	#nav {
		line-height: 40px;
	}
	#nav .social {
		display: none;
	}
	#nav ul li:first-child, #nav ul li:first-child:hover {
		display: inline-block;
		border: none;
		background: none;
	}
	#nav .hamburger, #nav .hamburger:hover {
		display: block;
		background-position: 0px -71px;
		width: 33px;
		height: 30px;
		margin: 15px;
		cursor: pointer;
	}
	#nav .mobile_super {
		display: inline-block;
		float: right;
		width: auto;
	}
	#nav .mobile_super li {
		border: none;
		float: left;
		display: inline-block;
		width: auto;
	}
	#nav .mobile_super .social {
		height: 60px;
		display: block;
	}
	#nav ul {
		background: none;
	}
	#nav li {
		display: block;
		width: 100%;
		text-align: center;
		height: auto;
		border-top: 1px solid #bebebe;
	}
	#nav li a, #nav .hamburger .social, #nav .hamburger .social:hover {
		display: inline-block;
		height: auto;
	}
	#featured li {
		font-size: 0.6em;
		line-height: 1.2em;
	}
	#awards li {
		display: inline-block;
		width: 45%;
		padding: 2%;
	}
	#portfolio li {
		margin: 1.5%;
		width: 22%;
	}
}
@media screen and (max-width : 480px) {
	form {
		max-width: 250px;
		width: 100%;
	}
	label {
		display: none;
	}
	textarea, input {
		float: none;
		width: 100%;
	}
	#awards li {
		display: block;
		width: 99%;
		padding: 2% 0;
	}
	#about {
		padding-top: 0px;
	}
	.cleartop {
	padding-top: 205px;
	}
	#about {
		background: none;
	}
	.content {
		width: 100%;
	}
	#featured li {
	l	ine-height: 1.0em;
	}
	.footer_title {
		display: none;
	}
}